@font-face {
    font-family: myCustomNetflixFont;
    src: url(./BebasNeue.otf);
  }

body{
    background: #141414;
    color: #fff;
    font-family: myCustomNetflixFont;
    height: max-content;
    width: fit-content;
    box-sizing: border-box;
    display: initial;
    user-select: none;
}

@media screen and (max-width:950px) {
    #imageslogo{
        width:25%;
        user-select: none;
    }
    #featuredshows{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
