/* Header Section CSS */

@media screen and (max-width:860px) {
    #navigation{
        display: none;
    }
    #imageslogo{
        width: 50%;
    }
    #imageslogo img{
        width:100px;
    }
    #otherheadersection{
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        margin-left: auto;
        text-align: end;
        
    }
    #imageofsearch{
        display: inline;
    } 
    #otherheadersection #kid{
        display: inline;
    } 
    #gifticon, #bellicon{
        display: none !important;
    } 
    #searchwithimage{
        width: 30%;
        display: none;
    }
}

@media screen and (max-width:500px) {
    #otherheadersection img {
        width: 9%;
    }
    
}

/* End of Header Section */

/* Showcase Section */
@media screen and (max-width:800px) {
    #featureimage{
        height: 300px;

    }
    #abovetext{
        width: 60vw;
        bottom: 2em;
        left: 0;
        margin-left: 1em;
    }
    #abovetext h2{
        font-size: 18px;
    }
    #abovetext p{
        width: 100%;
        font-size: 12px;
    }
    #buttonclass{
        width: 100%;
    }
    #playbutton{
        width: 90px;
        height: 40px;
        font-size: 15px;
    }
    #playbuttonlogo img {
        width: 14px;
        height: 14px;
        margin-right: 18px;
    }
    #moreinfobutton{
        width: 140px;
        height: 40px;
        font-size: 15px;
    }
    #moreinfobutton img {
        width: 20px;
        height: 20px;
        margin-right: 18px;
        margin-top: 4px;
    }
}
/* End of Showcase Section */


/* Video Showcase Section */
@media screen and (max-width:650px) {
    #showcasevideo{
        width: auto;
    }
    #video{
        height: 0;
        overflow: hidden;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        width: -webkit-fill-available;
    }
    iframe, object, embed{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }   
}

/* End of Video Showcase Section */


/* Slide Section */
@media screen and (max-width:800px) {
    #headers{
            margin-left: 0px;
    }
    #Mainsection, #Mainsectiontoprated, #Mainsectionlatest, 
    #Mainsectiontvseries, #Mainsectionactionmovies, #Mainsectionsciencefictionmovies, 
    #Mainsectionwarmovies, #Mainsectionthrillermovies, #Mainsectionhorrormovies, #Mainsectiontvpopularseries,
    #Mainsectiontvtopratedseries 
    {
    margin-left: 0px; 
    }
}


/*End of Slide Section


/* Footer Section CSS */
@media screen and (max-width:1250px) {
    #footersocialmediaicons img{
        width: 5%;
    }
    
}
@media screen and (max-width:1000px) {
    #footersocialmediaicons img{
        width: 5%;
    }
    
}

@media screen and (max-width:700px) {
    #footersection{
        margin-left: 0;
        margin-right: 0;
    }
    #footerbutton{
        display: none;
    }
    #footersocialmediaicons{
        margin-left: 25px;
    }
    #footersocialmediaicons{
        width: fit-content;
    }
    #footersocialmediaicons img{
        width: 10%;
    }
}
@media screen and (max-width:550px) {
    #footermenu{
        width:fit-content;
        margin-left: 14px;
    }
    #footerlinks{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        margin-left: 0;
        grid-auto-rows: minmax(15px, auto);
        column-gap: 0px;
    }
    #footermenu li{
        margin-left: 0;
    }
    #footersocialmediaicons img{
        width: 15%;
    }


}
/* End of Footer Section CSS */

/*Browse Section Images*/
@media screen and (max-width:800px) {
    #sectionimages img{
        width: 140px;
    }
    #maincontentsection {
        margin-left: 25px;
    }
}

/*End of Browse Section Images*/
